body {
    background-image: url(https://www.cronista.com/files/image/307/307048/5ffe2f1676076_950_534!.jpg?s=11a5b82d31d993aa45eb52021f54417f&d=1632183240);
    background-size: 100% 100%;
     background-attachment: fixed;

     /* logo de fondo */
 }
  
  .login-plus {
    width: 400px;
    height: 370px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

    /* contenedor negro del formulario */
  }
  
  .login-plus .avatar {
    width: 150px;
    height: 100px;
    border-radius: 20%;
    position: absolute;
    top: -15%;
    left: 30%;
   
    /* logo ubicado arriba de contenedor del formulario disney plus */
     
  }
  
  .login-plus h1 {
    margin: -10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px

    /* etiqueta de login here  */
  }
  
  .login-plus label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-plus input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-plus input{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    /* input[type="text"], .login-box input[type="password"] lo saque y se fue el fondo blanco  */
  }
  
  .login-plus input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-plus input[type="submit"]:hover {
    cursor: pointer;
    background: #2116be;
    color: #000;
  }
  
  .login-plus a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-plus a:hover {
    color: #fff;
  }

